* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: block;
    min-height: 100vh;
    background-color: black;
}

h1 {
    color: white;
    display: flex;
    margin: 30px;
}

.input-container {
    margin: 30px;
}

.input-container #item {
    padding: 10px;
}

.input-container #submit {
    padding: 10px;
}

.to-do-text {
    color: white;
    font-size: 1.2em;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.close {
    padding: 3px 8px;
    margin-left: 40px;
}

.done {
    padding: 3px 8px;
    margin-left: 15px;
}
